.slick-arrow {
  color: #977BBB !important;
  width: 5rem !important;
  height: 5rem !important;
  z-index: 1 !important;
}
.slick-next {  right: 0 !important;  }
.slick-prev {  left: 0 !important;  }

.slick-list {
  height: 100% !important;
  width: 100% !important;
}
.slick-track {
  height: 100% !important;
}
.slick-slide div {
  height: 100% !important;
}
.slick-dots {
  bottom: 0px !important;
  & li button:before {
    color: #977BBB !important;
    width: 1rem !important;
    height: 1rem !important;
  }
  & li.active button {  color: #FAFAFB !important;  }
}



.Carrousel {
  width: 100vw;
  height: 100vh;
  
  &_Section {
    width: 100%;  
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;

    &__Container {
      height: 20%;
      width: 90%;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: space-around;

      &-Box {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--Icon {  
          color:  #977BBB; 
          width: 5rem;
          height: 5rem;
        }
        &--Tittle {  font-size: 2.75rem;  }
      }
    }
    &__Slick {
      overflow-y: hidden;
      height: 100%;
      width: 90%;
    }
  }

  @media screen {
    @media (max-width: 480px) {
      &_Section { &__Container { 
        &-Box {  
          align-items: center; 
          width: 100%;
          justify-content: space-around;
      }}}
    }
    @media (min-width: 720px) {
      &_Section {
         &__Container {
           height: 30%;
           &-Box {
             &--Tittle {  font-size: 3.25rem;  }
           }
         }
      } 
    }
    @media (min-width: 1024px) {
      &_Section {
        &__Container {
          &-Box {
            width: 40%;
            &--Tittle {  font-size: 4rem;  }
          }
        }
      }
    }
    @media (min-width: 1536px) {
      &_Section { 
          &__Container {
            height: 20%;
            &-Box {
              &--Icon {  width: 7rem; height: 7rem;  }
              &--Tittle {  font-size: 5rem;  }
            }
          }
        }
      }
    }
}
