.Navigation {
  z-index: 5;
  position: fixed;
  width: 100%;
  padding: 1%;
  height: 15%;
  background-color: transparent; 
  overflow: hidden;

  &_Section {

    border: 3px #977BBB solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    overflow-y: hidden;

    &__Box {  
      overflow-y: hidden;
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #977BBB;
      font-family: "Bokor", system-ui;
      font-size: 2.75rem;
      cursor: initial;

      &-Image {  width: 4rem;  }
    }
  }
}
@media screen {
  @media (max-width: 480px) {
    .Navigation {
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &_Section {
        width: 80%;
        margin: 1%;
        border: 2.5px #977BBB solid;
        border-radius: 5px;

        &__List {  display: none;  }
        &__Box {  
          width: 75%;
          font-size: 2.5rem;
          cursor: pointer;
            
          &-Image {  width: 5rem;  }}
          &:active, &:focus-visible {  border: none;  }
      }
    }
    .Navigation.isOpen {
      height: 100vh;
      width: 100vw;

      .Navigation_Section {  
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        border: 0;
        margin: 0;
        border-radius: 0;

        &__Box {
          height: 20%;
          width: 100%;
          border-radius: 5px;
          border: 5px solid #977BBB; 
        }
      }
    }
  }
  @media (min-width: 480px) and (max-width: 640px) {
    .Navigation { 
      &_Section {  
        margin: 0; 
        &__Box {  &-Image {  width: 0px  }}
      }
    }
  }
  @media (min-width: 1020px) {     
    .Navigation { &_Section { &__Box {
      font-size: 3.25rem;
      &-Image {
        width: 5rem;
      }
    }}}
  }
  @media (min-width: 1536px) {
    .Navigation { &_Section { &__Box {
      font-size: 3.625rem;
      &-Image {
        width: 5.75rem;
      }
    }}}
  }
}

