@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  background-color: #0F0612;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  transition: 500ms all;
}
p { 
  font-family: "Cormorant  Garamond";
  font-weight: 500;
  font-style: bold;
  color: #58487A; 
  font-size: 1.375rem;
  overflow-y: hidden
}
h1 {
  font-family: "Bokor", system-ui;
  font-weight: 500;
  font-style: normal;
  color: #977BBB;
  font-size: 3.75rem;
  overflow-y: hidden;
}
