.List {
  display: flex;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media screen {
    @media (max-width: 480px) {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    &_Item { &__Text {
      font-size: 1.75rem;
    }} 
  }
  @media (min-width: 1536px) {
    &_Item { &__Text {
      font-size: 2.125rem;
    }}
  }
}
